aside{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 120;
    width: 300px;
    height: 100vh;
    background: white;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.212) 0px 0px 5px;
    display: flex;
    flex-direction: column;
    transition: all cubic-bezier(0,1.1,.76,1.03) 0.5s;
    gap: 4px;
    cursor: default;
    opacity: 1;
    visibility: unset;


    .option{
        padding: 15px;
        transition: all ease-in-out 0.2s;
        border-radius: 6px;
        
        p{
            color: rgb(90, 90, 90);
            font-size: 1.2rem;
        }
    }
    
    .--active{
        background: rgb(51, 50, 50);

        p{
            color: white;
        }
    }

    .logo{
        
        gap: 10px;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 8px;
        

        img{
            width: 100px;
        }

        h2{
            font-size: 1.2rem;
            color: grey;
        }

        p{
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);

            i{
                font-size: 1.4rem;
                color: rgb(82, 82, 82);
            }
        }
    }

    @media screen and (max-width:500px) {
        &{
            transition: none;
        }
        
    }
}