.ItemView{
    padding: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;

    .pics{
        height: 250px;
        display: inline-flex;
        width: 100%;
        overflow: auto;
        gap: 12px;
        padding-bottom: 10px;

        img{
            height: 100%;
            object-fit: contain;
        }
    }

    h1{
        font-size: 2.8rem;
        margin-top: 0px;
        padding-top: 0px;
    }

    h2{
        font-size: 1.5rem;
    }

    .group{
        color: rgb(92, 92, 92);
    }

    .price{
        color: green;
        font-size: 2.2rem;
    }

    .description{
        width: 100%;
        padding: 15px;

        p{
            width: 100%;
            font-size: 1.3rem;
        }
    }

    .controls{
        display: flex;
        gap: 10px;
    }

    @media screen and (max-width:600px) {
        h1{
            font-size: 2.4rem;
        }
    
        h2{
            font-size: 1.2rem;
        }
    
        .price{
            color: green;
            font-size: 2.2rem;
        }
    
        .description{
            width: 100%;
            padding: 15px;
    
            p{
                width: 100%;
                font-size: 1.3rem;
            }
        }
    
        select{
            background: white;
        }
        .controls{
            display: flex;
            flex-direction: column;
            gap: 10px;

            button{
                width: 100%;
            }
        }
    }

}